/*navegador*/
a {
    transition: all 1s ease; 
}



.container1 {
    max-width: 100%!important;
    margin: 0 auto;
    background-color: #85D4B7;
    height: 75px;
}
.img{
    float:left;
}
.main-menu {
    width: 70%;
    float: right;
    margin-top: 25px;
}

.main-menu ul {
    margin: 0px;
    padding: 0px;
    float: right;

}

.main-menu ul li {
    display: inline-block; 
    list-style: none;
}

.main-menu ul li a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 5px;
    
}

.displayed {
    display: block !important;

}

/* Animaciones */
@keyframes mianimacion {
    0% {background: red; margin: 0px;}
    50% {background:yellow; margin: 0px 100px 0px 100px; transform:(50deg) }
    100% {background: black; margin: 0px;}
}



/* MEDIA QUERIES */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

  

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.main-menu {
    width: 100%;
    float: left;
    display: none;
    margin-top: -22px;
}

.main-menu ul {
    float: none;

}

.main-menu ul li {
    display: block; 
}

.main-menu ul li a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    background-color: #6DCCAA;
    text-align: center;
    border-bottom: 1px solid white;
}

header {
    padding: 20px 0px 0px 0px;
}

header img {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}


.google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }
.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}



.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, 
.video-container object, 
.video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.elemento-formulario{
    max-width: 100%;
}

.elemento-formulario label {
    display: block;
}

.elemento-formulario input[type='text'], 
.elemento-formulario textarea {
    padding: 5px;
    width: 100%;
}

.menu-mobile {
    display: block;
}

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

main, aside {
    width: 100%;
    float: none;
}


}

/* Extra Small Devices, Phones */ 
 @media only screen and (max-width : 480px) {


}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

      
}

/*fin navegador*/

/*  galeria*/
.galeria-bg{
    background-color: #85D4B7;
}

#demo {
    height:100%;
    position:relative;
    overflow:hidden;
}

.green{
    background-color:#6fb936;
}

.thumb{
    margin-bottom: 20px;
}

.page-top{
    margin-top:150px;
}

img.zoom {
    width: 250px;
    height: 200px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color:#000;
}

.modal-footer{
    display:none;  
}
/*fin galeria*/

h3{
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black!important;
}
/*carrucel*/
.wrap {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #120103;
  color: #fff;
  text-align: center;
}

.botones {
  background: #85D4B7;
  /* box-shadow: 0 0.5em 1em #111; */
  position: absolute;
  top: 376px;
  left: 0px;
  z-index: 900;
  width: 100%;
  height: 40px;
}

header label {
  color: #788188;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 0 1em;
  height: 0;
  margin-top: 0px;
  padding-top:  0px;
}

header label:hover {
  background: #2e353b;
}

.slide {
  height: 621px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-color: #120103;
  background-position: 50% 50%;
  background-size: cover;
  transition: left 0s 0.75s;
}

.slide-one {
  background-image: url(../imagenes/adoptados/Apolo.jpg);
}

.slide-two {
  background-image: url(../imagenes/adoptados/Duque.jpg);
}

.slide-three {
  background-image: url(../imagenes/adoptados/Tom.jpg);
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

.slide h1 {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s 0.5s, opacity 0.5s;
}

[id^="slide"]:checked + .slide h1 {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s 0.5s;
}
/*fin carrucel*/

/*.tit{
    text-align: right!important;
width: 50%!important;
float: left!important;
}
.tit2{
    text-align: left!important;
width: 50%!important;
float: left!important;
}*/

.columna tit{
    width: 50%!important;
    float: left!important;
/*float: left!important;*/
}