#hed {
    background-color: #85D4B7;
    padding: 26px;

}

#hed nav{
    padding: 10px; 
}

#hed li {
    list-style: none;

    padding: 10px;
    text-decoration: none;
}

#hed li a{
    color: white;
    text-decoration: none;
    text-align: center;
}


#hed a:hover{
    background: #6DCCAA;
    padding: 10px;
    color: white;
}

#img {
    display: block;
    max-height: 475px;
    width: 100%;
    margin: auto;
    height: 100%
}

#redS {
    padding: 10px;

}

#red1 {
    width: 100%;
    align-content:center;
    background: #6DCCAA;
}

#tit {
    padding-right: 30px;
}

#tit h2{

    background: white;
    color: black;
    padding: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
}

#tit h5 {
    color: gray;
    background: white;
    padding-right: 10px;
}

#carouselExampleControls{
    width: 100%;
    margin: auto; 

}

#tit hr {
    size: 5px;
    width: 50px;
}

#tit2 {
    padding: 30px;
}

#tit2 h5 {
    color: gray;
    background: white;
    padding-right: 10px;
}

#tit2 hr {
    size: 5px;
    width: 100%;
}

#cam {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: solid 2px;
}

.carousel-caption {
    position: absolute;
    top: 300px;
}

.carousel-caption p {
    color: white;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.carousel-control-prev, .carousel-control-next {
    top: 110px!important;
    bottom: 355px!important;
}

/*  galeria*/
.galeria-bg{
    background-color: #85D4B7;
    /*    margin: 50px 250px 50px 250px ;*/

}

#demo {
    height:100%;
    position:relative;
    overflow:hidden;
}


.green{
    background-color:#6fb936;
}
.thumb{
    margin-bottom: 20px;
}

.page-top{
    margin-top:150px;
}


img.zoom {
    width: 250px;
    height: 200px;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.modal-header {

    border-bottom: none;
}
.modal-title {
    color:#000;
}
.modal-footer{
    display:none;  
}

/*fin galeria*/

h3{
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black!important;
}
/*carrucel*/

.img-fluid{
    width: 1150px;
    height: 200px;
    border-radius: 5px;
    padding: 8px;
    margin-top: 20px;
}
.container{
    background-color: #85D4B7;
    width: 100%;
    padding-left: 50px;
    margin: auto;
}      
/*fin carrucel*/